[Unit]
Description=Avalanche go client
After=syslog.target network.target

[Service]
User=avalanche
Type=simple
Environment=HOME=/home/avalanche
ExecStart=/usr/local/bin/cryftgo --config-file /etc/cryftgo/conf.json
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
LimitNOFILE=65000

[Install]
WantedBy=multi-user.target
